body{
    background-color: coral;
}

.container{
    display: flex;
    height: 400px;
    width: 300px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-left: 50px;
    margin-top: 50px;
    padding: 2px;
    text-align: center;
    box-shadow: 8px -10px 15px -6px rgba(0,0,0,0.82);
    border-radius: 10px;


}

.profileImage{
    margin-top: -30px;
    text-align: center;
    align-content: center;
    overflow: hidden;
    border-radius: 100%;
}

.profileImage img{

    width: 100px;

}

.input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100px;
    box-sizing: border-box;
    border: 10px;


}

.bottom {


}









input:focus{
    border: 2px solid dodgerblue;
    box-sizing: border-box;
}
input:checked{
    border: 2px solid red;
}